@use "variables";




* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: normal;
  line-height: $line-height-normal;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.header {
  background-color: $color-gray-light;
  padding-top: 66px;
  padding-bottom: 141px;
  min-height: 700px;
}

.container {
  width: min(100% - $gap-lg, $container-primary);
  margin-inline: auto;
}

.container-sm {
  width: min(100% - $gap-lg, $container-sm);
}

.navbar {
  margin-bottom: 148px;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 23px;
  margin-left: -10px;
}

.navbar-link {
  color: $color-black;
  display: block;
  padding: $gap-sm;
  transition: scale 0.1s;
  letter-spacing: $letter-spacing;
}

.active {
  color: $color-primary;
}

.navbar-link :hover {
  /* color: var(--color-primary); */
  scale: 1.1;
}

.content {
  max-width: $container-sm;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
}

.content__title {
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.content__description {
  color: $color-secondary;
  margin-bottom: 24px;
  line-height: $line-height-lg;
}

.content__link {
  color: $color-white;
  background-color: $color-primary;
  padding: 0.5em;
  min-width: 225px;
  min-height: 65px;
  letter-spacing: $letter-spacing;
  align-items: center;
  justify-content: center;
  display: flex;
}

.section {
  padding-top: 112px;
  padding-bottom: 100px;
  background-color: $color-light;
}

.section__title {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}

.section__description {
  color: $color-secondary;
  text-align: center;
  line-height: $line-height-lg;
  /* margin-bottom: 50px; */
  max-width: $container-sm;
  margin-inline: auto;
}

.expiriance {
  background-color: $color-primary;
  padding: 100px 0;
  color: $color-white;
}

.expiriance__container {
  display: flex;
  gap: $gap;
  justify-content: space-between;
  flex-wrap: wrap;
}

.expiriance-item {
  display: flex;
  gap: $gap;
}

.expiriance-item__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.expiriance-item__number {
  font-size: 21px;
  font-weight: 500;
}

.expiriance-item__text {
  font-size: 16px;
}

.expiriance-item__img {
  order: -1;
}

.procces {
  padding: 100px 0;
}

.video {
  background-color: $color-white;
  padding-bottom: 100px;
}

.video__iframe {
  border: 0;
  height: 660px;
  width: 100%;
}

.footer {
  background-color: $color-primary;
  color: $color-white;
  padding: 50px 0;
}

.footer__name {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 7px;
}

.footer__copyright {
  font-size: 13px;
}

@media (max-width: 1024px) {
  .expiriance.container {
    flex-wrap: wrap;
    justify-content: center;
  }

  body {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .navbar-list {
    justify-content: center;
    background-color: $color-gray-light;
    position: fixed;
    top: 0;
    font-size: 22px;
  }
}